* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    
}
body{
    background-color: #131313;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.fa-icons{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

ul li {
    display: inline-block;
    padding: 0 7px;
    position: relative;
}

ul li:not(:last-child)::after {
    content: "";
    border: 1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position: absolute;
    right: -3px;
    top: 1rem;
    height: 50%;
}
.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}


@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .fa-icons{
        display: none;
    }
}


/* About section */

.main {
    /* background-color: #fdfdfd; */
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    /* background-color: #fdfdfd; */
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
}

.main__content {
    color: #fff;
    width: 100%;
    /* background-color: #f2b705; */
    
}

.main__content h3 {
    font-size: 4rem;
    /* background-color: #ff8177; */
    color: #fdfdfd;
    /* background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%); */
    background-size: 100%;
    /* -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; */
}

.main__content p {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #fff;
    /* background-color: #ff8177; */
    /* background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%); */
    background-size: 100%;
    /* -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; */
}

.main__content p {
    margin-top: 1rem;
    /* font-size: 2rem; */
    font-weight: 400;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
    margin-top: 1rem;
    height: 100%;
}


#main__img {
    height: 80%;
    width: 80%;
    overflow: hidden;
}



/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h3 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .main__content p {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .main__img--container {
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main__content h3 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content p {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
    .main__img--container {
        height: 100%;
    }
}

.pattern{
grid-row-gap: 0;
display: grid;
grid-template-rows: 50% 50%;
height: 200px;
overflow: hidden;
width: 100%;
}

.pattern__stripe {
    grid-row-gap: 0;
    display: grid;
    grid-template-rows: 50% 50%;
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.pattern--wow .pattern__stripe--top{
    background-image: url("download.svg");
}


.heading {
    margin: 2rem;

    display: inline-block;
    font-size: 3.5rem;
    color: #6c5ce7;
    position: relative;
    letter-spacing: .2rem;
}

.heading::before,
.heading::after {
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid var(--color);
    border-left: .4rem solid var(--color);
}

.heading::before {
    top: 5.8rem;
    left: -2rem;
}

.heading::after {
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}

.service {
    background-color: #141414;
    text-align: center;
    height: 90vh;
    padding-right: 50px;
    padding-left: 50px;
}

.service .row {
    margin: 2rem 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service .row .image img {
    width: 20vw;
    height: 55vh;
}



.service .row .content {
    text-align: left;
    padding: 0 3rem;
}

.service .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.service .row .content p {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
}

.custom-class{
display: flex;
align-items: center;
justify-content: center;
width: 237px;
}



@media (max-width:768px) {

    .service .row {
        flex-flow: column-reverse;
    }

    .service .row:nth-child(even) {
        flex-flow: column;
    }

    .service .row .image img {
        width: 60vw;
        height: 30vh;
    }

    .service .row .content {
        padding: 0;
    }
}



.Roadmap{
    width: 100%;
    /* background-color: #131313; */
    /* height: 90vh; */
    /* margin-top: -1rem; */
    
}
.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
    
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #006E51;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid #006E51;
    border-radius: 16px;
    z-index: 1;
}

.container.right::after {
    left: -8px;
}

.container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: #006E51;
    z-index: 1;
}

.container.right::before {
    left: 8px;
}

.container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #006E51;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.container.left .date {
    right: -75px;
}

.container.right .date {
    left: -75px;
}

.container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #F6D155;
    border: 2px solid #006E51;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: #006E51;
    z-index: 1;
}

.container.left .icon {
    right: 56px;
}

.container.right .icon {
    left: 56px;
}

.container .content {
    padding: 30px 90px 30px 30px;
    background: #F6D155;
    position: relative;
    border-radius: 0 500px 500px 0;
}

.container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
}

.container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: #006E51;
}

.container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

@media (max-width: 767.98px) {

    .Roadmap{
        /* position: relative; */
        margin-top: 1rem;
    }
    .timeline::after {
        left: 90px;
    }

    .container {
        width: 100%;
        padding-left: 120px;
        padding-right: 30px;
    }

    .container.right {
        left: 0%;
    }

    .container.left::after,
    .container.right::after {
        left: 82px;
    }

    .container.left::before,
    .container.right::before {
        left: 100px;
        border-color: transparent #006E51 transparent transparent;
    }

    .container.left .date,
    .container.right .date {
        right: auto;
        left: 15px;
    }

    .container.left .icon,
    .container.right .icon {
        right: auto;
        left: 146px;
    }

    .container.left .content,
    .container.right .content {
        padding: 30px 30px 30px 90px;
        border-radius: 500px 0 0 500px;
    }
}

.team{
    background-color: #131313;
    padding-right: 50px;
    padding-left: 50px;
}


.faq {
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 0 2rem;
}

.faq .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.faq .row .image img {
    height: 70vh;
    width: 50vw;
}

.faq .row .accordion-container {
    width: 50%;
    text-align: left;
}

.faq .row .accordion-container .accordion .accordion-header {
    background-color: #4837ff;
    margin: 1rem 0;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .3);
    cursor: pointer;
}

.faq .row .accordion-container .accordion .accordion-header span {
    display: inline-block;
    text-align: center;
    height: 4rem;
    width: 5rem;
    line-height: 4rem;
    font-size: 2rem;
    background: #fff;
    color: #333;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.faq .row .accordion-container .accordion .accordion-header h3 {
    display: inline;
    color: #fff;
    font-weight: 400;
    padding-left: .5rem;
    font-size: 1.5rem;
}

.faq .row .accordion-container .accordion .accordion-body {
    padding: 1rem;
    color: #444;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .3);
    font-size: 1.3rem;
    display: none;
}

.faq .row .accordion-container .accordion:nth-child(1) .accordion-body {
    display: block;
}

.accordion-body p {
    color: #fdfdfd;
}


@media (max-width:768px) {
.faq {
    padding: 0;
}

.faq .row {
    padding: 0 1rem;
    flex-flow: column;
}

.faq .row .image img {
    width: 100vw;
}

.faq .row .accordion-container {
    width: 100%;
}

}


.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #141414;
}

.footer h1 {
    color: #fff;
    letter-spacing: .1rem;
    font-size: -3rem;
}

.footer .icons a {
    color: #fff;
    font-size: 1.5rem;
    padding: 0 1rem;
}
@media (max-width:550px) {
 .footer {
     flex-flow: column;
 }

 .footer h1 {
     text-align: center;
 }

 .footer .icons {
     padding: 1rem 0;
 }
}